---
import Layout from "../layouts/Layout.astro";

const sites = [
    "photography.desaindigital.com",
    "cola.coola.tw",
    "new.dogesurf.app",
    "test.komor.bid",
    "cc.encyclopedia.tw",
    "kit.philosophyonline.org",
    "epsteinflightlog.us.to",
    "getnoobnowalt1.minecraft.pe",
    "unspecifiedentitypro.danielboba.com",
    "funsciencegames.l5.ca",
    "theocean.ecoeduc.cl",
    "eva.amirpanah.com",
    "robot.co.42.ar",
    "zone.actsministries.org",
    "geometry.surfnet.ca",
    "sevenupisgreat.jamesvannoord.com",
    "uinrnvsirnrvsjhf.chickenkiller.com",
    "info.geocen.org",
    "math.uzelki.info",
    "read.spanishlearning.com.ar",
    "en.shekinahphotography.com",
    "castaways.qwezt.com",
    "go.polyhedramath.com",
    "yeabutwhy.stemviet.com",
    "portal.runrenedu.com",
    "awestre.chickenkiller.com",
    "en.scavhunt.net",
    "blog.journaliststudio.com",
    "waterdrinking.us.to",
    "go.jaleh.info",
    "explore.francomedia.net",
    "explore.zoneitshop.com",
    "dbzbetter.calsup.com.ar",
    "jonnydogee.dgoconda.ru",
    "test.subsoniclabs.com",
    "hs.uwgraduation.org",
    "en.hyppe.club",
    "test.linkin.tw",
    "science.mikedavislab.com",
    "kha11dmolt.ibahia.cl",
    "enroll.santafesouthmiddleschool.org",
    "tech.roth.ca",
    "bhxskx7wmthzbah.riversaituyo.com",
    "create.skylinedesignstudio.com",
    "nature.shor.ch",
    "mathpractice1.ugli.se",
    "getnoobnowalt1.davidmcorn.com",
    "someone-is.strokin.it",
    "algebra.octopusbot.net",
    "derpmanpleasepayme.hectorhector.com",
    "iko.dev.mycloudgrocer.com",
    "help.newhopes.info",
    "test.networkguru.com",
    "dvjvudfiubdfhbd.chickenkiller.com",
    "gmamaa.69.mu",
    "dogescience.zzylos.org",
    "skibidihistory.hectorhector.com",
    "xn--8prp2pima757g.xn--8prp2pima757g.tm",
    "sigmaser.jumpingcrab.com",
    "i-am.strokin.it",
    "dogeismyfavoritecoin.coldcarbonic.cl",
    "ilovemyteachers.pii.at",
    "dogescience.zzylos.xyz",
    "dogescience.zzylos.lol",
    "doctorsarethebestmedical.hectorhector.com",
    "mathhelp2.jlengineering.se",
    "getnoobnowalt1.mooo.com",
    "mykhanacademymath.webconstructions.co.uk",
    "read.animalscience.ir",
    "us.riversafetycouncil.org",
    "view.simpleplantdesign.com",
    "igoto.paulsfamilyhistory.com",
    "schoolstopsmyroblox.bocellipizza.com",
    "k12.computersrfun.org",
    "ilovecrayons.hectorhector.com",
    "totallyaprivatesiteforyoubysnorlax.hectorhector.com",
    "im-not-a.nard.ca",
    "edu.mazovec.ru",
    "dummy.neurogine.com",
    "gagagagagagaggagagagagaga.chickenkiller.com",
    "k12.todovision.info",
    "areyouathug.hectorhector.com",
    "use.justlearning.net",
    "us.yourdigitaldoc.com",
    "sigmaskills.mnode.net",
    "locations.santafesouthmiddleschool.org",
    "web.cassettica.com",
    "learninggames4kids.rpi.com.mx",
    "code.at.freedns.net.br",
    "art.ceramicsclay.com",
    "en.sembiring.com",
    "jdfbnjkfjdfbdbnjfkj.strangled.net",
    "base.aksnapshots.com",
    "mynameis.joe.dj",
    "edu.glenwaverleychurches.org",
    "skibidimath.bapperton.com",
    "forest.katieprallphotography.com",
    "view.backriverphotography.com",
    "hellomynameiseenren.bipinmaharjan.com.np",
    "nyannyanyanya-n.champagnewishesandrvdreams.com"
]
---

<Layout title="funny">
    <main>
        <p>thanks akane</p>
        <p>have fun 🫡</p>
        <ul>
            {sites.map((site) => (
                <a href={"http://" + site}>
                    <li>{site}</li>
                </a>
            ))}
        </ul>
    </main>
</Layout>