---
import Layout from '../layouts/Layout.astro';
---

<Layout title="freesoftware.club">
  <main>
    <h2>hello.</h2>
    <p>we make free software (sharkey instance coming soon™)</p>
  </main>
</Layout>