---
import Layout from "../layouts/Layout.astro"
---

<Layout title="projects that the freesoftware.club has made">
  hmm.. i'm too lazy to fetch the github repos and map them, so uhh... i think you're looking for <a href="https://github.com/freesoftwareclub">our github</a>
</Layout>